OY6ICJ_0924/OY6ICJ_kurzusfelvetel.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT oy6icj_kurzusfelvetel (hallgato,kurzusok)>
<!ATTLIST oy6icj_kurzusfelvetel tanev CDATA #REQUIRED>
<!ATTLIST oy6icj_kurzusfelvetel egyetem CDATA #REQUIRED>

<!ELEMENT hallgato (hnev,szulev,szak)>
<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST szak evf CDATA #REQUIRED>

<!ELEMENT kurzusok (kurzus*)>

<!ELEMENT kurzus (kurzusnev,kredit,hely,idopont+,(oktato|oraado))>
<!ATTLIST kurzus id ID #REQUIRED>
<!ATTLIST kurzus jovahagyva (igen | nem) "nem">
<!ATTLIST kurzus nyelv CDATA #IMPLIED>

<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT oraado (#PCDATA)>
